@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "ShareTechMono";
}

.drag-region {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

@font-face {
    font-family: "ShareTechMono";
    src: url("./assets/fonts/ShareTechMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@theme {
    /*colors*/
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-text: var(--text);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);

    /*fonts*/
    --font-stm: "ShareTechMono", sans-serif;
}

/* 3. Color Definitions (Light/Dark) */
@layer base {
    :root {
        --text: #030704;
        --background: #f8fcf9;
        --primary: #44cf6e;
        --secondary: #80eaa0;
        --accent: #46f179;
    }

    .dark {
        --text: #f8fcf9;
        --background: #030704;
        --primary: #30bb5a;
        --secondary: #157f35;
        --accent: #0eb941;
    }
}
